tags
vim/dot-vim/swap
vim/dot-vim/undo
vim/dot-vim/backup
vim/dot-vim/bundle
vim/dot-vim/.netrwhist
tmux/tmux-dot/resurrect/*
config/dot-config/Android Open Source Project/
config/dot-config/Atom
config/dot-config/Bitwarden
config/dot-config/Bitwarden\ CLI
config/dot-config/CCP
config/dot-config/Code
config/dot-config/Franz
config/dot-config/GIMP
config/dot-config/Genymobile
config/dot-config/Mumble
config/dot-config/Postman
config/dot-config/PulseEffects
config/dot-config/QtProject.conf
config/dot-config/Rambox
config/dot-config/Signal
config/dot-config/Slack
config/dot-config/Trolltech.conf
config/dot-config/VirtualBox
config/dot-config/Wire
config/dot-config/autorandr
config/dot-config/autostart
config/dot-config/bg/*.jpg
config/dot-config/cava
config/dot-config/cef_user_data
config/dot-config/chromium
config/dot-config/configstore
config/dot-config/dconf
config/dot-config/discord
config/dot-config/enchant
config/dot-config/gconf
config/dot-config/go
config/dot-config/gtk-2.0
config/dot-config/gtk-3.0
config/dot-config/gtk-3.0
config/dot-config/kcachegrindrc
config/dot-config/menus
config/dot-config/mimeapps.list
config/dot-config/neofetch
config/dot-config/nnn
config/dot-config/nvim/.netrwhist~
config/dot-config/pavucontrol.ini
config/dot-config/pulse
config/dot-config/pulseaudio-ctl
config/dot-config/shadow
config/dot-config/shadow-dev
config/dot-config/shadow-preprod
config/dot-config/skypeforlinux
config/dot-config/spotify
config/dot-config/tmp
config/dot-config/torrench
config/dot-config/trizen
config/dot-config/unity3d
config/dot-config/user-dirs*
config/dot-config/vlc
config/dot-config/xed
config/dot-config/yarn
